<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Information</title>
</head>
<body>
<h2>Book List</h2>
<div th:unless="${#lists.isEmpty(allBooks)}">
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Comments</th>
        </tr>
        <tr th:each="book : ${allBooks}">
            <td th:text="${book.bookName}"/>
            <td th:text="${book.comment}"/>
        </tr>
    </table>
</div>
<div th:if="${#lists.isEmpty(allBooks)}">
    <p>You have no books in your book list</p>
</div>

<hr/>

<h3>Add a book</h3>
<form method="POST" th:action="@{/booksInfo}" th:object="${newBook}">
    <label for="title">Name:</label>
    <input type="text" size="50" th:field="*{bookName}"></input><br/>
    <label for="description">Description:</label><br/>
    <textarea name="description" cols="80" rows="5" th:field="*{comment}"></textarea><br/>
    <input type="submit"></input>
</form>

</body>
</html>